.welcomeHeader {
  height: 100vh;
}

.welcomeHeaderContent {
  width: 40rem;
  position: absolute;
  top: 30%;
  left: calc(50% - 20rem);
  z-index: 1;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.welcomeHeaderContent h1 {
  font-size: 3rem;
  color: #fff;
  margin: 2rem 0;
}

.ctaLink {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #0f61ef;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.ctaLink:hover {
  background-color: #0f86ef;
}

.cityImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.heroImage {
  width: 20rem;
  max-width: 40%;
  position: absolute;
  bottom: 10%;
  left: 25%;
  object-fit: cover;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.5));
}

.welcomeContent section {
  margin: 6rem 0;
}

.welcomeContent h2 {
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #f2f25d;
}
