.Carousel {
  overflow: hidden;
  position: relative;
}

.CarouselInner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.CarouselItem {
  display: inline-flex;
}

.CarouselIndicatorsPageButton {
  width: 25px;
  height: 25px;
}

.CarouselIndicatorsControlButton {
  position: absolute;
  top: 37%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid grey;
  cursor: pointer;
}

.Prev {
  left: 20px;
}

.Next {
  right: 20px;
}
